
/* align */
.a-left,   .text-left     {text-align:left !important;}
.a-center, .text-center   {text-align:center !important;}
.a-right,  .text-right    {text-align:right !important;}
.a-justify,.text-justify  {text-align:justify !important;}
.v-top      {vertical-align:top !important;}
.v-bottom   {vertical-align:bottom !important;}
.v-middle   {vertical-align:middle !important;}
.center     {display: flex;justify-content: center;align-items: center;text-align:center;height:100%}


/* Float */
.f-left {float:left !important;}
.f-right {float:right !important;}
.f-none {float:none !important;}
.c-both {clear:both !important;}
.clearfix {zoom:1;}
.clearfix:after {content:''; display:block; clear:both;}


/*display*/
.blind {position:absolute; top:0; left:0; overflow:hidden; visibility:hidden; width:0; height:0;}
.dis-inblock {display:inline-block !important;}
.dis-block {display:block !important;}
.dis-none, .hide {display:none !important;}

/*ime*/
.onlyeng {ime-mode:disabled;}
.onlynum {ime-mode:disabled;}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

/* -------------------------------------------- */
/* 추가 스타일 */
/* registration.php */
#registration .preview-box {text-align:center}
#registration .preview-thumb {overflow: hidden;display:inline-block;width:32%;padding-top:35%;background: url(../images/upload.jpg) no-repeat 50% 50%/cover #e1e1e1;}

