@charset "utf-8";


/** Reset **/
html, body {min-height:100%;}
body {font-size:14px; line-height:1.4; font-family:'Noto Sans kr', ’Malgun Gothic’, Dotum, Arial, Sans-serif; color:#545f7b;}
table, th, td, input, select, button, textarea, pre {font:inherit; color:inherit;}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, select, button, textarea, p, blockquote, table, th, td {margin:0; padding:0;}
h1, h2, h3, h4, h5, h6 {font-size:100%; font-weight: normal;}
ol, ul {list-style:none;}
img, fieldset {border:0;}
img {vertical-align:middle; }
a {color:#545f7b; text-decoration:none;}
table {border-spacing:0; border-collapse:collapse; border:0;}
th, td {word-break:break-all; word-wrap:break-word;}
label {cursor:pointer;}
Input, button {border:0; border-radius:0;}
button {cursor: pointer; outline: none !important;}
textarea {resize:none;}
input, button, select, textarea {vertical-align:middle; font-family: 'Noto Sans kr';}
address, caption, cite, code, dfn, em, var {font-style:normal;}
hr {clear:both; display:none;}
blockquote, q {quotes:none;}
abbr, acronym {border:0;}
legend, caption {visibility:hidden; overflow:hidden; line-height:0; width:0; height:0; margin:0; padding:0; text-indent:-99999px; font-size:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {display:block;}
strong { font-family: 'Noto Sans kr';font-weight: 700;}
.hidden {position:absolute; visibility:hidden; overflow:hidden; height:0; line-height:0; width:0; margin:0; padding:0; font:0/0 Arial;}

.body_wrap {width:100%; background-color:#000;}
.header { position: fixed;left: 0;top: 0;right: 0; height: 48px;text-align: center; background: url('../images/bul_bar_01.png') center bottom no-repeat;background-size: auto 1px;}
.header h1 {text-align: center;font-size: 18px;color: #fff;padding-top: 10px;font-weight: 700;}
.header h1 > span {padding-left: 50px;display: inline-block;background: url('../images/bg_top_l.png') 0 center no-repeat;background-size: 45px auto;}
.header h1 > span > span{padding-right: 50px;display: inline-block;background: url('../images/bg_top_r.png') right center no-repeat;background-size: 45px auto;}
.header .btn_back{position: absolute;left: 10px;top: 7px;}

.header02 {position: fixed;left: 0;right: 0;top: 0;height: 47px;background-color: #304c8a;z-index: 9999;}
.header02 h1 {text-align: center;font-size: 18px;color: #fff;padding-top: 10px;font-weight: 700;}
.header02 .btn_back{position: absolute;left: 10px;top: 7px;}
.header02 .btn_entry{position: absolute;right: 10px;top: 11px;}

/* 01 */
.main_wrap {background:url('../images/bg.jpg') 0 0 no-repeat; background-size: 100% auto;padding-top: 40px;}
.main_wrap .logo {text-align:center;}
.main_header h1 {color:#fff; text-shadow: 2px 2px 5px #ffd200; font-size:15px; text-align: center; background-size:0; margin:10px 0;}
.main_header .sub {color:#fff; font-size:24px; display:block; width:100%; text-align:center; margin:10px 0; background: url('../images/bul_bar_01.png') center bottom no-repeat;background-size: auto 1px;  line-height:2;}
.main_header p {color:#fff; font-size:12px; display:block; width:100%; text-align:center; line-height:1.2; margin:10px 0;}
.main_header .y {color:#fff200; font-weight:normal; }
.main_header .y2 {color:#fdc689; font-weight:normal;}
.main_header .btn_con {display:block; margin:30px 0; text-align:center;}
.main_header .logo_b {display:block; width:100%; background: url('../images/bul_bar_01.png') center bottom no-repeat;background-size: auto 1px; }

.TopList_wrap {overflow:hidden; width:100%; margin:0 auto;}
.TopList_wrap .top5 span {display: inline-block;padding-left: 12px;background: url('../images/bul_bar_03.png') 0 17px no-repeat;background-size: auto 1px;padding-top: 10px;font-size: 12px; color:#fff; margin:0 5%;}
.TopList_wrap .top5.pad {margin-top:3%;}
.TopList_wrap .donateList {padding:1.5% 3%; overflow:hidden; width:100%;}
.TopList_wrap .donateList li {float:left;width:28.5%; display:inline-block; margin:0 1.5%;}
.TopList_wrap .donateList li span.name {color:#fff; font-size:12px; text-align:center; width:95%; display:block; line-height:2;}

.TopList_wrap .donateList li a {display:block;}
.TopList_wrap .donateList li a img {width:100%; height:100%; box-sizing: border-box; padding:3px;  background: linear-gradient(to right, #7f5524 0%, #c66821 100%); border-radius: 3px; }
.TopList_wrap .Best {text-align: center; background: url('../images/bul_bar_01.png') center bottom no-repeat;background-size: 100% 1px;}
.TopList_wrap .Best li {margin:0 1.5% 2% 1.5%;}
.TopList_wrap .searchList li {margin:1%; width:21.7%;}
.TopList_wrap .searchList li span.name {font-size:10px;}
.TopList_wrap .search_wrap {position:relative;display:inline-block;}
.TopList_wrap .top5 input {background:url('../images/search_01.png') 0 0 no-repeat; background-size:100% auto; width:228px; height:28.5px; position:relative; margin-left:-6%}
.TopList_wrap .top5 .btn_search {position:absolute; top:0; right:5%; display:block; background:url('../images/btn_search_01.png') 0 0 no-repeat; background-size:100% auto; width:28px; height:100%; font-size:0; z-index:9; text-indent:-999px;}


/* 02 */
.conList_wrap {width:100%; overflow:hidden;}
.conList_wrap .conList {position:relative; overflow:hidden; width:95%; margin:0 auto;}
.conList_wrap .conList li {position:relative; height:33px; margin:10px 0;}
.conList_wrap .conList li span {display:inline-block;padding-left: 12px;background: url('../images/bul_bar_03.png') 0 17px no-repeat;background-size: auto 1px;padding-top: 10px;font-size: 12px; color:#fff; width:20%;}
.conList_wrap .conList li input {border-radius:5px; width:65%; height:100%; padding:0 10px;}
.conList_wrap .conList li.yy input {background:#fff568;}
.conList_wrap .conList li .btn_url {background:#fff568; display:inline-block; width:65%; height:100%; padding:0 10px; color:#545f7b; line-height:33px; border-radius:5px;}
.conList_wrap .btn_con {display:block; text-align:center; margin:10px 0;}

/* 03 */
.Iofo_wrap {background:#000 url('../images/bg.jpg') 0 0 no-repeat; background-size: 100% auto;padding-top: 40px;}

.movie_wrap {position:relative; display:block; width:100%; background:url('../images/bg_move_01.png') center bottom no-repeat;background-size: 100% auto; padding-top: 8px;}
.movie_wrap iframe {position:absolute; top:3%; left:0; display:block; width:100%; height:96%;}
.Infotxt_wrap {padding-bottom:5%;}
.share_wrap {width:100%; padding:3% 0; position:relative; overflow:hidden;}
.share_wrap table {width:95%; margin:0 auto; background:#fff; border-radius:10px 10px 0 0; padding:2%; display:block;}
.share_wrap table tr {width:50%; float:left; word-break: keep-all;}
.share_wrap .comment {position:relative; background:#ebebeb; display:block; width:92%; overflow:hidden; border-radius:0 0 10px 10px; margin:0 auto; padding:1.5%;}
.share_wrap .comment p {word-break: keep-all; overflow:hidden; padding:1% 3% 35px 3%;}
.share_wrap table th {width:auto; text-align:left; padding:0 10px; color:#545f7b; font-size:15px;}
.Iofo_wrap .btn_share {position:absolute; bottom:0; right:0;}

.voteList {overflow:hidden; width:96.5%; margin:0 auto;}
.voteList li {position:relative; float:left; width:30%;box-sizing: border-box; margin:0 1.65%; display:inline-block;}
.voteList li a {display:block; overflow:hidden;}
.voteList li a img {width:100%; height:100%;}
.voteList li:after {content:''; display:block; position:absolute; top:0; left:0; z-index:9; width:100%; height:100%; background:url(../images/img_box_01.png)0 0 no-repeat; background-size: 100%;}
.btn_wrap {width:100%; overflow:hidden;}
.btn_wrap a {display:inline-block; float:left; width:50%; text-align:center; margin:5px 0;}
.s_wrap {overflow:hidden; width:50%; display:inline-block; float:left; text-align:center; margin-bottom:20px;}
.s_wrap .s {background:none; border:none; color:#fff;}

/* 05 */
.donation_wrap {background:#000 url('../images/bg.jpg') 0 0 no-repeat; background-size: 100% auto;padding-top: 40px;}

.donaInfo_wrap {padding: 10px;position: relative;margin-bottom: 5px;display:table;}
.donaInfo_wrap .thumb {position: absolute;left: 10px;top: 10px;}
.donaInfo_wrap p {padding-left: 50px;font-size: 14px;color: #fff;display:table-cell;height: 42px;vertical-align: middle;}

.entryForm_wrap {padding: 0 20px;}
.entryForm_wrap table {width: 100%;}
.entryForm_wrap table th {width: 140px;color: #fff;text-align-last: left;font-size: 12px;vertical-align: top;}
.entryForm_wrap table th span {display: inline-block;padding-left: 12px;background: url('../images/bul_bar_03.png') 0 17px no-repeat;background-size: auto 1px;padding-top: 10px;font-size: 14px;}
.entryForm_wrap table td {width: auto;text-align: right;}
.entryForm_wrap table td .ipt_spay {display: block;position: relative;height: 35px; border: 1px solid #545f7b;border-radius: 5px;background-color: #fff;}
.entryForm_wrap table td .ipt_spay input {width: 100%;border:0;height: 32px;line-height: 1;border-radius: 5px;text-align: right;padding-right: 30px;box-sizing: border-box;font-size: 18px;color: #545f7b;font-weight: 500;outline: 0;}
.entryForm_wrap table td .ipt_spay span {position: absolute;right: 5px;top: 5px;}
.entryForm_wrap table td .btn_charge {padding: 10px 0;text-align: right;}
.entryForm_wrap table td .btn_charge p span {display: inline-block; padding-left: 12px;background: url('../images/bul_bar_03.png') 0 7px no-repeat;background-size: auto 1px;font-size: 12px;color: #fff;}
.entryForm_wrap .btn_donation {text-align: center;padding: 20px 0;}
.donationList_wrap {position: relative;}
.donationList_wrap h2 {color:#000; background:#ebebeb url('../images/bul_bar_02.png') center 0 no-repeat;background-size: auto 7px; padding: 5px 15px;}
.donationList_wrap .list {padding: 10px 10px 10px 15px;}
.donationList_wrap .list table {width: 100%;}
.donationList_wrap .list table th {text-align: left;width: 40%;color: #545f7b;}
.donationList_wrap .list table td {text-align: center; width: 30%;color: #545f7b;padding: 5px 0;}
.donationList_wrap .list table td.pay {text-align: right;color: #545f7b}

/* 06 */
.voting_wrap {background:#000 url('../images/bg.jpg') 0 0 no-repeat; background-size: 100% auto;padding-top: 40px;}

.voteInfo_wrap {padding: 10px;position: relative;margin-bottom: 5px;}
.voteInfo_wrap .thumb {position: absolute;left: 10px;top: 10px;}
.voteInfo_wrap p {padding-left: 50px;font-size: 14px;color: #fff;line-height: 41px;}

.voting_wrap .entryForm_wrap table th {width: 140px;color: #fff;text-align-last: left;font-size: 12px;vertical-align: top;}
.voting_wrap .entryForm_wrap table th span {display: inline-block;padding-left: 12px;background: url('../images/bul_bar_03.png') 0 17px no-repeat;background-size: auto 1px;padding-top: 10px;font-size: 14px;}
.entryForm_wrap table td {width: auto;text-align: right;}
.entryForm_wrap table td .ipt_spoint {display: block;position: relative;height: 35px; border: 1px solid #545f7b;border-radius: 5px;background-color: #fff;}
.entryForm_wrap table td .ipt_spoint input {width: 100%;border:0;height: 32px;line-height: 1;border-radius: 5px;text-align: right;padding-right: 30px;box-sizing: border-box;font-size: 18px;color: #545f7b;font-weight: 500;outline: 0;}
.entryForm_wrap table td .ipt_spoint span {position: absolute;right: 5px;top: 5px;}
.entryForm_wrap table td .btn_charge {padding: 10px 0;text-align: right;}
.entryForm_wrap table td .btn_charge p span {display: inline-block; padding-left: 12px;background: url('../images/bul_bar_03.png') 0 7px no-repeat;background-size: auto 1px;font-size: 12px;color: #fff;}
.voting_wrap .entryForm_wrap .btn_voting {text-align: center;padding: 20px 0;}
.votingList_wrap {position: relative;}
.votingList_wrap h2 {color:#000; background:#ebebeb url('../images/bul_bar_02.png') center 0 no-repeat;background-size: auto 7px; padding: 5px 15px;}
.votingList_wrap .list {padding: 10px 10px 10px 15px;}
.votingList_wrap .list table {width: 100%;}
.votingList_wrap .list table th {text-align: left;width: 40%;color: #545f7b;}
.votingList_wrap .list table td {text-align: center; width: 30%;color: #545f7b;padding: 5px 0;}
.votingList_wrap .list table td.pay {text-align: right;color: #545f7b}



.smartContentsMain {padding-top: 47px;}
.smartContentsMain .section01 {background-color: #c5ccdb;text-align: center;padding-top: 10px;}
.smartContentsMain .section01 h2 {display: inline-block;background-color: #6d85b9; padding: 0 6px;line-height: 18px;font-size: 15px;font-weight: 700;color: #fff;}
.smartContentsMain .section01 h2 span {color: #a1afd0;font-size: 15px;font-weight: 400;}
.smartContentsMain .section02 {background-color: #abb3c5;text-align: center;padding-top: 10px;}
.smartContentsMain .section02 h2 {display: inline-block;background-color: #6d85b9; padding: 0 6px;line-height: 18px;font-size: 15px;font-weight: 700;color: #fff;}
.smartContentsMain .section02 h2 span {color: #a1afd0;font-size: 15px;font-weight: 400;}
.smartContentsMain .list {text-align: left;padding:10px 42px 0;position: relative;height: 230px;}
.smartContentsMain .list ul{position:relative;text-align:left;white-space:nowrap;height: 230px;overflow:auto;-webkit-overflow-scrolling:touch;}
.smartContentsMain .list li {width:138px !important;display:inline-block;position:relative;padding-left:12px;white-space:normal;vertical-align:top;}
.smartContentsMain .list li:first-child {padding-left: 0 !important;}
.smartContentsMain .list li .item {background-color: #fff;display: block;padding: 1px;}
.smartContentsMain .list li .detail {padding: 5px 5px 40px;position: relative; height: 54px;}
.smartContentsMain .list li .detail .tit {display: block;max-height: 40px;overflow: hidden;}
.smartContentsMain .list li .detail .pan {display: block;}
.smartContentsMain .list li .detail .price {position: absolute;left: 0;bottom: 10px;width: 100%;}
.smartContentsMain .list li .detail .price > span {float: left;width: 50%;text-align: left;text-indent: 5px;}
.smartContentsMain .list .left {position: absolute;left: 0;top: 50%;margin-top: -50px;}
.smartContentsMain .list .right {position: absolute;right: 0;top: 50%;margin-top: -50px;}

.smartContentsMain .list_big {text-align: left;padding:10px 15px;position: relative;overflow: hidden;}
.smartContentsMain .list_big ul{position:relative;text-align:left;}
.smartContentsMain .list_big li {float: left; width:50%; box-sizing: border-box; padding: 0 10px; position:relative;margin-bottom: 20px;}
.smartContentsMain .list_big li .item {background-color: #fff;display: block;padding: 1px;}
.smartContentsMain .list_big li .item .thumb {width: 100%;height: 0;padding-top: 95%;position: relative;}
.smartContentsMain .list_big li .item .thumb img {position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.smartContentsMain .list_big li .detail {padding: 5px 10px 40px;position: relative; height: 54px;}
.smartContentsMain .list_big li .detail .tit {display: block;max-height: 40px;overflow: hidden;}
.smartContentsMain .list_big li .detail .pan {display: block;}
.smartContentsMain .list_big li .detail .price {position: absolute;left: 0;bottom: 10px;width: 100%;}
.smartContentsMain .list_big li .detail .price > span {float: left;width: 50%;text-align: left;text-indent: 10px;}
.smartContentsMain .list_big .right {position: absolute;right: 0;top: 50%;margin-top: -50px;}


.detailView_popup {position: absolute;left: 50%;top: 50%;padding: 25px 25px 0;background-color: #fff;z-index: 999;transform:translateY(-50%);margin-left:-135px; width: 220px;}
.detailView_popup .thumb {position: relative;}
.detailView_popup .detail {position: relative;padding: 15px 0;}
.detailView_popup .detail li {padding-bottom: 15px;font-size: 14px;position: relative;}
.detailView_popup .detail li > strong {font-weight: 400;}
.detailView_popup .detail li > strong > span {color: #000;}
.detailView_popup .detail li .spoint {position: absolute;right: 0;top: 0;color: #000;}
.detailView_popup .detail li .spoint span {color: #18c9c3;}
.detailView_popup .detail li .spay {position: absolute;right: 0;top: 0;color: #000;}
.detailView_popup .detail li .spay span {color: #16afe5;}
.detailView_popup .detail li img {vertical-align: middle;}
.detailView_popup .btn_close {position: absolute;top: 0;right: -25px;}

.dimmed {position: fixed;left: 0;top: 0;right: 0;bottom: 0;background-color: #000;z-index: 99;opacity: 0.4;}


.body_color01{background-color: #c5ccdb;}

.entyContents_wrap {position: relative;padding-top: 67px;}
.entyContents_wrap .notice_wrap {background-color: #7b0046;padding: 20px 40px;text-align: center;color: #fff;}
.entyContents_wrap .btn_entry {text-align: center;padding: 20px 0;}
.formBox01 {position: relative;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-content: stretch;align-items: flex-start;width: 100%;margin-bottom: 20px;}
.formBox01 .col01 {order: 0; flex: 0 1 auto;width: 100px;font-size: 14px;color: #000;font-weight: 500;padding-top: 10px;}
.formBox01 .col02 {order: 0; flex: 2 1 auto;padding-right: 20px;}
.formBox01 .col02 select { width: 100%;height: 35px;box-shadow: 0 4px 0 0 rgba(0,0,0,0.3);-webkit-box-shadow: 0 4px 0 0 rgba(0,0,0,0.3);-moz-box-shadow: 0 4px 0 0 rgba(0,0,0,0.3);border-radius: 10px;border: 1px solid #545f7b; box-sizing: border-box;background-color: #fff;}
.formBox01 .col02 .ipt { width: 100%;padding: 0 10px;line-height: 35px; height: 35px;box-shadow: 0 4px 0 0 rgba(0,0,0,0.3);-webkit-box-shadow: 0 4px 0 0 rgba(0,0,0,0.3);-moz-box-shadow: 0 4px 0 0 rgba(0,0,0,0.3);border-radius: 10px;border: 1px solid #545f7b; box-sizing: border-box;}
.formBox01:after {content: "";display: block;clear: both;}
.formBox01 .tit {position: relative;padding-left: 28px;display: block;}
.formBox01 .tit:after {content: "";display: block;width: 5px;height: 0;border-top: 1px solid #0081ef;position: absolute;left: 20px;top: 10px;}
.formBox02 {position: relative;width: 100%;margin-bottom: 20px;}
.formBox02 .col01 {padding-bottom: 10px;font-size: 14px;color: #000;font-weight: 500;}
.formBox02 .col02 {padding:0 20px;}
.formBox02 .col02 select { width: 100%;height: 35px;box-shadow: 0 4px 0 0 rgba(0,0,0,0.3);-webkit-box-shadow: 0 4px 0 0 rgba(0,0,0,0.3);-moz-box-shadow: 0 4px 0 0 rgba(0,0,0,0.3);border-radius: 10px;border: 1px solid #545f7b; box-sizing: border-box;}
.formBox02 .col02 .dropbox01 { width: 150px;box-shadow: 0 4px 0 0 rgba(0,0,0,0.3);-webkit-box-shadow: 0 4px 0 0 rgba(0,0,0,0.3);-moz-box-shadow: 0 4px 0 0 rgba(0,0,0,0.3);border-radius: 10px;border: 1px solid #545f7b; box-sizing: border-box; display: table;background-color: #fff;}
.formBox02 .col02 .dropbox01  span {display:table-cell;vertical-align: middle;height: 170px;text-align: center;}
.formBox02 .col02 .dropbox02 { width: 100%;box-shadow: 0 4px 0 0 rgba(0,0,0,0.3);-webkit-box-shadow: 0 4px 0 0 rgba(0,0,0,0.3);-moz-box-shadow: 0 4px 0 0 rgba(0,0,0,0.3);border-radius: 10px;border: 1px solid #545f7b; box-sizing: border-box; display: table;background-color: #fff;}
.formBox02 .col02 .dropbox02  span {display:table-cell;vertical-align: middle;height: 80px;text-align: center;}
.formBox02 .col02 .dropbox03 { width: 100%;box-shadow: 0 4px 0 0 rgba(0,0,0,0.3);-webkit-box-shadow: 0 4px 0 0 rgba(0,0,0,0.3);-moz-box-shadow: 0 4px 0 0 rgba(0,0,0,0.3);border-radius: 10px;border: 1px solid #545f7b; box-sizing: border-box; display: table;background-color: #fff;}
.formBox02 .col02 .dropbox03  span {display:table-cell;vertical-align: middle;height: 35px;text-align: center;}
.formBox02:after {content: "";display: block;clear: both;}
.formBox02 .tit {position: relative;padding-left: 28px;display: block;}
.formBox02 .tit:after {content: "";display: block;width: 5px;height: 0;border-top: 1px solid #0081ef;position: absolute;left: 20px;top: 10px;}

.pof_btn {position: fixed;bottom: 0;right: 0;left: 0;background-color: #fff;}
.pof_btn .btn {text-align: center;padding: 10px 0;}
.pof_btn .prevNext {height: 50px;}
.pof_btn .prevNext a {float: left;width: 50%;text-align: center;height: 50px;}
.pof_btn .prevNext .btn_prev {background-color: #9aa3b7;}
.pof_btn .prevNext .btn_prev span {display: inline-block;padding-left: 30px;background: url('../images/btn_prev_01.png') 0 12px no-repeat;line-height: 50px;font-size: 16px;color: #fff;background-size: 15px auto;}
.pof_btn .prevNext .btn_next {background-color: #596581;}
.pof_btn .prevNext .btn_next span {display: inline-block;padding-right: 30px;background: url('../images/btn_next_01.png') right 12px no-repeat;line-height: 50px;font-size: 16px;color: #fff;background-size: 15px auto;}
.contentsPrint_wrap {padding: 77px 20px 150px;}
.contentsPrint_wrap .print {font-size: 21px;line-height: 1.8;}

/* login ------------------------------------ */
.login_wrap {background:#cad5ee;width:100%;height:100vh;position:absolute;top:0}
.login_wrap .entryForm_wrap {height:410px;padding:0;margin:calc(50vh - 205px) auto 0;text-align:center;max-width:250px;background: url(/download/st_title.png) no-repeat bottom center/50% transparent;}
.login_wrap .entryForm_wrap img {max-width: 140px;margin-top: 30px;}
.login_wrap .entryForm_wrap dd {font-weight:bold;margin-bottom:10px}
.login_wrap .entryForm_wrap input {border-radius: 5px;line-height: 1;margin-bottom: 16px;width: calc(100% - 20px);padding: 8px 10px;font-size: 1rem;text-align:center}
.login_wrap .entryForm_wrap input:focus{outline: none;}
.login_wrap .entryForm_wrap input[type=password] {margin-bottom:5px}
.login_wrap .entryForm_wrap input[type=button] {width:100%;font-size:14px;padding: 13px;}